#reset-form {
  width: 400px;
  max-width: 100%;
  margin: 50px auto;
  background-color: lightblue;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
}

#reset-form h1 {
  text-align: center;
  margin: 0;
  padding: 20px 0;
  font-size: 28px;
  font-weight: bold;
  color: white;
}

#reset-form form {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

#reset-form form label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: gray;
}

#reset-form form input[type="email"],
#reset-form form input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#reset-form form input[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: dodgerblue;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

#reset-form form input[type="submit"]:hover {
  background-color: deepskyblue;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.forgot-password-button {
  width: 100%;
  padding: 12px;
  background-color: transparent;
  border: none;
  color: dodgerblue;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  transition: color 0.3s ease;
}

.forgot-password-button:hover {
  color: deepskyblue;
}

.signup-button {
  width: 100%;
  padding: 12px;
  background-color: green;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
   transition: background-color 0.3s ease;
}

.signup-button:hover {
  background-color: darkgreen;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}